USE [master]
GO
/****** Object:  Database [InventarioProductos]    Script Date: 10/10/2024 14:37:19 ******/
CREATE DATABASE [InventarioProductos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioProductos', FILENAME = N'C:\SQLdata\InventarioProductos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioProductos_log', FILENAME = N'C:\SQLdata\InventarioProductos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioProductos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioProductos]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 10/10/2024 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muebles]    Script Date: 10/10/2024 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muebles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosElectronics]    Script Date: 10/10/2024 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosElectronics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alimentos] ON 

INSERT [dbo].[Alimentos] ([id], [nombre], [precio], [cantidad]) VALUES (6, N'galletas', 55, 100)
SET IDENTITY_INSERT [dbo].[Alimentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Muebles] ON 

INSERT [dbo].[Muebles] ([id], [nombre], [precio], [cantidad]) VALUES (17, N'mesa', 55, 5)
SET IDENTITY_INSERT [dbo].[Muebles] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductosElectronics] ON 

INSERT [dbo].[ProductosElectronics] ([id], [nombre], [precio], [cantidad]) VALUES (10, N'laptop', 100, 52)
INSERT [dbo].[ProductosElectronics] ([id], [nombre], [precio], [cantidad]) VALUES (13, N'movil', 55, 5)
SET IDENTITY_INSERT [dbo].[ProductosElectronics] OFF
GO
USE [master]
GO
